<div id="word-list">
<table class="table word-table">
	<tr>
		<th scope="row">English</th>
		<th>Pig Latin</th>
    <th>Tutnese</th>
    <th>Oppish</th>
	</tr>
	<% @words.each do |word| %>
		<%= erb :'words/_list', locals: {word:word} %>
	<% end %>
</table>
</div>

<div>
  <form id="new-word-form" method="post" action="/words/new">
    <div class="block">
    <label for="title-input">Word: </label>
    <input type="text" name="word[english]">
    </div>

    <div class="block">
      <input type="submit" value="Post Word">
    </div>
  </form>
</div>
<img src="images/pig.jpeg" class="responsive" alt="pig" />

