

<h2>Translate a word</h2>

<% if @errors%>
  <section>
    <%= erb :_errors%>
  </section>
<% end %>

<div>
  <form id="new-word-form" class="form-inline" method="post" action="/words/new">
    <div class="block">
    <label for="title-input">Word: </label>
    <input type="text" name="word[english]">
    </div>

    <div class="block">
      <input type="submit" value="Post Word">
    </div>
  </form>
</div>



