

<h2 class="transparent inline-block">Translate a word</h2>
<div>
  <form method="post" action="/words/new">
    <div class="block">
    <label for="title-input">Word: </label>
    <input type="text" name="word[english]">
    </div>

    <div class="block">
      <input class="pretty_button" type="submit" value="Post Word">
    </div>
  </form>
</div>